assets/
saves/
versions/
screenshots/
shaderpacks/
cache/
library/
libraries/
maps/
options.txt
textures_0.png
textures_1.png
textures_2.png
textures_3.png
textures_4.png
TickThreadingLogs/
optionsshaders.txt
optionsof.txt
launcher_profiles.json
*.log
usercache.json
usernamecache.json
patchouli_data.json
mts_music/
mineraltracker/
maps/
journeymap.log